# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Create a markdown cell with a table of Data Science tools
* Create a markdown cell introducing arithmetic expression examples
* Create a code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy

| Data Science Tools |
-----------------------
| TensorFlow | 
| Jupyter Notebooks |
| VSCode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

In [7]:
minutes = 200
hours = minutes/60 
hours

3.3333333333333335

## Author 
Rodolfo